<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="ExcelDataReader" ToolsVersion="15.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1028" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1308" Action="None" />
    <Rule Id="SX1308" Action="Warning" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1408" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1636" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>