<?xml version="1.0" encoding="utf-8"?>
<RunSettings>


  <!-- MSTest adapter -->
  <MSTest>
    <MapInconclusiveToFailed>False</MapInconclusiveToFailed>
    <CaptureTraceOutput>False</CaptureTraceOutput>
    <DeleteDeploymentDirectoryAfterTestRunIsComplete>True</DeleteDeploymentDirectoryAfterTestRunIsComplete>
    <DeploymentEnabled>False</DeploymentEnabled>
  </MSTest>


</RunSettings>