<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!-- Setup the root category, add the appenders and set the default level -->
  <root>
    <level value="DEBUG" />
	  <appender-ref ref="ConsoleAppender"/>
  </root>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
<!--    <target value="Console.Error" />-->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>  
</log4net>