<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.11.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
  </configSections>
  <appSettings>
    <!-- The path were the tests files would be stored-->
    <add key="basePath" value="Resources" />
    <!-- The name of each test workbook -->
    <add key="Test10x10" value="Test10x10.xls" />
    <add key="Test255x10" value="Test255x10.xls" />
    <add key="TestChess" value="TestChess.xls" />
    <add key="TestMultiSheet" value="TestMultiSheet.xls" />
    <add key="TestUnicodeChars" value="TestUnicodeChars.xls" />
    <add key="TestDoublePrecision" value="TestDoublePrecision.xls" />
    <add key="TestExcel_2040" value="TestExcel_2040.xls" />
    <add key="Test_Encoding_1520" value="Test_Encoding_Formula_Date_1520.xls" />
    <add key="Test_Decimal_1109" value="Test_Decimal_1109.xls" />
    <add key="Test_Issue_8536" value="Test_Issue_8536.xls" />
    <add key="Test_Issue_4031_NullColumn" value="Test_Issue_4031_NullColumn.xls" />
    <add key="Test_Issue_11397" value="Test_Issue_11397.xls" />
    <add key="Test_Issue_11435_Colors" value="Test_Issue_11435_Colors.xls" />
    <add key="Test_Issue_7433_IllegalOleAutDate" value="Test_Issue_7433_IllegalOleAutDate.xls" />
    <add key="Test_Issue_10725" value="Test_Issue_10725.xls" />
    <add key="Test_Issue_BoolFormula" value="Test_Issue_BoolFormula.xls" />
    <add key="TestFail_Binary" value="TestFail_Binary.xls" />
    <add key="Test_num_double_date_bool_string" value="Test_num_double_date_bool_string.xls" />
    <add key="Uncalculated" value="Uncalculated.xls" />
    <add key="Issue_11479_BlankSheet" value="Test_Issue_11479_BlankSheet.xls" />
    <add key="Test_BlankHeader" value="Test_BlankHeader.xls" />
    <add key="Test_OpenOffice" value="Test_OpenOffice.xls" />
    <add key="Test_Excel_Dataset" value="Test_Excel_Dataset.xls" />
    <add key="Test_Decimal_Locale" value="Test_Decimal_Locale.xls" />
    <add key="Test_Issue_11553_FAT" value="Test_Issue_11553_FAT.xls" />
    <add key="Test_Issue_11570_Excel2013" value="Test_Issue_11570_Excel2013.xls" />
    <add key="Test_Issue_11572_CodePage" value="Test_Issue_11572_CodePage.xls" />
    <add key="Test_Issue_11570_FAT_1" value="Test_Issue_11570_FAT_1.xls" />
    <add key="Test_Issue_11570_FAT_2" value="Test_Issue_11570_FAT_2.xls" />
    <add key="Test_Issue_11545_NoIndex" value="Test_Issue_11545_NoIndex.xls" />
    <add key="Test_Issue_11573_BlankValues" value="Test_Issue_11573_BlankValues.xls" />
    <add key="Test_Issue_DateFormatButNotDate" value="Test_Issue_DateFormatButNotDate.xls" />
    <add key="Test_Issue_11642_ValuesNotLoaded" value="Test_Issue_11642_ValuesNotLoaded.xls" />
    <add key="Test_Issue_11636_BiffStream" value="Test_Issue_11636_BiffStream.xls" />
    <add key="Test_Issue_12556_corrupt" value="Test_Issue_12556_corrupt.xls" />
    <add key="Test_Issue_11818_OutOfRange" value="Test_Issue_11818_OutOfRange.xls" />
    <add key="Test_Excel_OpenOffice" value="Test_Excel_OpenOffice.xls" />
    <add key="Test_Git_Issue_70" value="Test_git_issue_70_ExcelBinaryReader_tryConvertOADateTime _convert_dates.xls" />
    <add key="Test_EmptySheets" value="Test_EmptySheets.xls" />
      
    <!--<add key="Test_SSRS" value="Test_SSRS.xls"/>-->
    <add key="xTestOpenXml" value="TestOpenXml.xlsx" />
    <add key="xTest10x10" value="Test10x10.xlsx" />
    <add key="xTest10x10000" value="Test10x10000.xlsx" />
    <add key="xTest255x10" value="Test255x10.xlsx" />
    <add key="xTestChess" value="TestChess.xlsx" />
    <add key="xTestMultiSheet" value="TestMultiSheet.xlsx" />
    <add key="xTestUnicodeChars" value="TestUnicodeChars.xlsx" />
    <add key="xTestDoublePrecision" value="TestDoublePrecision.xlsx" />
    <add key="xTestExcel_2040" value="TestExcel_2040.xlsx" />
    <add key="xTest_Encoding_1520" value="Test_Encoding_Formula_Date_1520.xlsx" />
    <add key="xTest_Decimal_1109" value="Test_Decimal_1109.xlsx" />
    <add key="xTest_Issue_8536" value="Test_Issue_8536.xlsx" />
    <add key="xTest_Issue_4031_NullColumn" value="Test_Issue_4031_NullColumn.xlsx" />
    <add key="xTest_Issue_11397" value="Test_Issue_11397.xlsx" />
    <add key="xTest_Issue_11435_Colors" value="Test_Issue_11435_Colors.xlsx" />
    <add key="xTest_Issue_7433_IllegalOleAutDate" value="Test_Issue_7433_IllegalOleAutDate.xlsx" />
    <add key="xTest_Issue_4145" value="Test_Issue_4145.xlsx" />
    <add key="xTest_Issue_10725" value="Test_Issue_10725.xlsx" />
    <add key="xTest_Issue_BoolFormula" value="Test_Issue_BoolFormula.xlsx" />
    <add key="xTestFail_Binary" value="TestFail_Binary.xlsx" />
    <add key="xTest_num_double_date_bool_string" value="Test_num_double_date_bool_string.xlsx" />
    <add key="xIssue_11479_BlankSheet" value="Test_Issue_11479_BlankSheet.xlsx" />
    <add key="xTest_BlankHeader" value="Test_BlankHeader.xlsx" />
    <add key="xTest_Excel_Dataset" value="Test_Excel_Dataset.xlsx" />
    <add key="xTest_Issue_11516_Single_Tab" value="Test_Issue_11516_Single_Tab.xlsx" />
    <add key="xTest_Decimal_Locale" value="Test_Decimal_Locale.xlsx" />
    <add key="xTest_Issue_xxx_LocaleTime" value="Test_Issue_xxx_LocaleTime.xlsx" />
    <add key="xTest_Issue_11522_OpenXml" value="Test_Issue_11522_OpenXml.xlsx" />
    <add key="xTest_Issue_11573_BlankValues" value="Test_Issue_11573_BlankValues.xlsx" />
    <add key="xTest_Issue_DateFormatButNotDate" value="Test_Issue_DateFormatButNotDate.xlsx" />
    <add key="xTest_Issue_11773_Exponential" value="Test_Issue_11773_Exponential.xlsx" />
    <add key="xTest_LotsOfSheets" value="Test_LotsOfSheets.xlsx" />
    <add key="xTest_EmptySheets" value="Test_EmptySheets.xlsx" />
    <add key="bTest10x10" value="Test10x10.xlsb" />
    <add key="xTest_googlesourced" value="Test_googlesourced.xlsx" />
    <add key="xTest_Issue_12667_GoogleExport_MissingColumns" value="Test_Issue_12667_GoogleExport_MissingColumns.xlsx" />
    <add key="xTest_Excel_OpenOffice" value="Test_Excel_OpenOffice.xlsx" />
    <!-- To test some unicode conversion -->
    <add key="TestUnicodePos2x1" value="éЗ" />
    <!-- log4net debugging -->
    <add key="log4net.Internal.Debug" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net configSource="log4net.config" />
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.DateTimeHelper, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.DateTimeHelper, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>